{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<div class="columns is-centered mt-5">
  <!-- Generate Recipes By Ingredient Box -->
  <div class="column is-3">
    <a href="{{ url_for('main.generateByIngredient') }}" class="box has-text-centered has-background-primary-light has-text-dark has-radius">
      <h2>Search Recipes By Ingredients</h2>
    </a>
  </div>

  <!-- Generate Recipes By Nutrition Box -->
  <div class="column is-3">
    <a href="{{ url_for('main.generateByNutrition') }}" class="box has-text-centered has-background-info-light has-text-dark has-radius">
      <h2>Search Recipes By Nutrition</h2>
    </a>
  </div>

  <!-- Weekly Meal Plan And Shopping List Generator Box -->
  <div class="column is-3">
    <a href="{{ url_for('main.mealPlan') }}" class="box has-text-centered has-background-warning-light has-text-dark has-radius">
      <h2>Weekly Meal Plan</h2>
    </a>
  </div>
</div>

{% endblock %}
